@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: 13, 153, 101;
  --accent-hover: 9, 130, 85;
  --accent-300: 133, 214, 177;
  --accent-400: 84, 173, 140;
  --accent-500: 0, 159, 127;
  --accent-600: 0, 143, 114;
  --accent-700: 0, 119, 95;
  --light: 255, 255, 255;
  --muted-black: 17, 17, 17;
  --base: 102, 102, 102;
  --base-dark: 51, 51, 51;
  --muted: 156, 163, 175;
  --muted-light: 209, 213, 219;
  --sub-heading: 55, 65, 81;
  --heading: 31, 41, 55;
  --bolder: 31, 41, 55;
  --border-50: 249, 250, 251;
  --border-100: 243, 244, 246;
  --border-200: 229, 231, 235;
  --border-base: 209, 213, 219;
  --border-400: 156, 163, 175;
  --gray-50: 249, 250, 251;
  --gray-100: 243, 244, 246;
  --gray-200: 229, 231, 235;
  --gray-300: 209, 213, 219;
  --gray-400: 156, 163, 175;
  --gray-500: 107, 114, 128;
  --gray-600: 75, 85, 99;
  --gray-700: 55, 65, 81;
  --gray-800: 31, 41, 55;
  --gray-900: 31, 41, 55;
  --orange-50: 255, 247, 237;
  --orange-100: 255, 237, 213;
  --orange-200: 254, 215, 170;
  --orange-300: 253, 186, 116;
  --orange-400: 251, 146, 60;
  --orange-500: 249, 115, 22;
  --orange-600: 234, 88, 12;
  --orange-700: 194, 65, 12;
  --orange-800: 154, 52, 18;
  --orange-900: 124, 45, 18;
  --pending: 201, 161, 22;
  --processing: 158, 117, 0;
  --complete: 0, 161, 127;
  --canceled: 227, 110, 1;
  --failed: 238, 43, 0;
  --out-for-delivery: 126, 173, 66;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-light: var(--light);
  --color-muted-black: var(--muted-black);
  --color-base: var(--base);
  --color-base-dark: var(--base-dark);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-sub-heading: var(--sub-heading);
  --color-heading: var(--heading);
  --color-bolder: var(--bolder);
  --color-border-50: var(--border-50);
  --color-border-100: var(--border-100);
  --color-border-200: var(--border-200);
  --color-border-base: var(--border-base);
  --color-border-400: var(--border-400);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-orange-50: var(--orange-50);
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-300: var(--orange-300);
  --color-orange-400: var(--orange-400);
  --color-orange-500: var(--orange-500);
  --color-orange-600: var(--orange-600);
  --color-orange-700: var(--orange-700);
  --color-orange-800: var(--orange-800);
  --color-orange-900: var(--orange-900);
  --color-pending: var(--pending);
  --color-processing: var(--processing);
  --color-complete: var(--complete);
  --color-canceled: var(--canceled);
  --color-failed: var(--failed);
  --color-status-pending: var(--pending);
  --color-status-processing: var(--processing);
  --color-status-complete: var(--complete);
  --color-status-canceled: var(--canceled);
  --color-status-failed: var(--failed);
  --color-out-for-delivery: var(--out-for-delivery);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

a {
  @apply no-underline;
}

body {
  font-family: Inter, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
