@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: 13, 153, 101;
  --accent-hover: 9, 130, 85;
  --accent-300: 133, 214, 177;
  --accent-400: 84, 173, 140;
  --accent-500: 0, 159, 127;
  --accent-600: 0, 143, 114;
  --accent-700: 0, 119, 95;
  --light: 255, 255, 255;
  --muted-black: 17, 17, 17;
  --base: 102, 102, 102;
  --base-dark: 51, 51, 51;
  --muted: 156, 163, 175;
  --muted-light: 209, 213, 219;
  --sub-heading: 55, 65, 81;
  --heading: 31, 41, 55;
  --bolder: 31, 41, 55;
  --border-50: 249, 250, 251;
  --border-100: 243, 244, 246;
  --border-200: 229, 231, 235;
  --border-base: 209, 213, 219;
  --border-400: 156, 163, 175;
  --gray-50: 249, 250, 251;
  --gray-100: 243, 244, 246;
  --gray-200: 229, 231, 235;
  --gray-300: 209, 213, 219;
  --gray-400: 156, 163, 175;
  --gray-500: 107, 114, 128;
  --gray-600: 75, 85, 99;
  --gray-700: 55, 65, 81;
  --gray-800: 31, 41, 55;
  --gray-900: 31, 41, 55;
  --orange-50: 255, 247, 237;
  --orange-100: 255, 237, 213;
  --orange-200: 254, 215, 170;
  --orange-300: 253, 186, 116;
  --orange-400: 251, 146, 60;
  --orange-500: 249, 115, 22;
  --orange-600: 234, 88, 12;
  --orange-700: 194, 65, 12;
  --orange-800: 154, 52, 18;
  --orange-900: 124, 45, 18;
  --pending: 201, 161, 22;
  --processing: 158, 117, 0;
  --complete: 0, 161, 127;
  --canceled: 227, 110, 1;
  --failed: 238, 43, 0;
  --out-for-delivery: 126, 173, 66;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: rgb(var(--accent));
  --color-accent-hover: rgb(var(--accent-hover));
  --color-accent-300: rgb(var(--accent-300));
  --color-accent-400: rgb(var(--accent-400));
  --color-accent-500: rgb(var(--accent-500));
  --color-accent-600: rgb(var(--accent-600));
  --color-accent-700: rgb(var(--accent-700));
  --color-light: rgb(var(--light));
  --color-muted-black: rgb(var(--muted-black));
  --color-base: rgb(var(--base));
  --color-base-dark: rgb(var(--base-dark));
  --color-muted: rgb(var(--muted));
  --color-muted-light: rgb(var(--muted-light));
  --color-sub-heading: rgb(var(--sub-heading));
  --color-heading: rgb(var(--heading));
  --color-bolder: rgb(var(--bolder));
  --color-border-50: rgb(var(--border-50));
  --color-border-100: rgb(var(--border-100));
  --color-border-200: rgb(var(--border-200));
  --color-border-base: rgb(var(--border-base));
  --color-border-400: rgb(var(--border-400));
  --color-gray-50: rgb(var(--gray-50));
  --color-gray-100: rgb(var(--gray-100));
  --color-gray-200: rgb(var(--gray-200));
  --color-gray-300: rgb(var(--gray-300));
  --color-gray-400: rgb(var(--gray-400));
  --color-gray-500: rgb(var(--gray-500));
  --color-gray-600: rgb(var(--gray-600));
  --color-gray-700: rgb(var(--gray-700));
  --color-gray-800: rgb(var(--gray-800));
  --color-gray-900: rgb(var(--gray-900));
  --color-orange-50: rgb(var(--orange-50));
  --color-orange-100: rgb(var(--orange-100));
  --color-orange-200: rgb(var(--orange-200));
  --color-orange-300: rgb(var(--orange-300));
  --color-orange-400: rgb(var(--orange-400));
  --color-orange-500: rgb(var(--orange-500));
  --color-orange-600: rgb(var(--orange-600));
  --color-orange-700: rgb(var(--orange-700));
  --color-orange-800: rgb(var(--orange-800));
  --color-orange-900: rgb(var(--orange-900));
  --color-pending: rgb(var(--pending));
  --color-processing: rgb(var(--processing));
  --color-complete: rgb(var(--complete));
  --color-canceled: rgb(var(--canceled));
  --color-failed: rgb(var(--failed));
  --color-status-pending: rgb(var(--pending));
  --color-status-processing: rgb(var(--processing));
  --color-status-complete: rgb(var(--complete));
  --color-status-canceled: rgb(var(--canceled));
  --color-status-failed: rgb(var(--failed));
  --color-out-for-delivery: rgb(var(--out-for-delivery));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
